footer {
    margin-top: var(--extra-large-spacing);
    background-color: var(--mid-black);
    color: var(--soft-white);
    display: flex;

    flex-direction: column;

}

footer .container {
    padding: var(--large-spacing) 0;
    background-color: var(--mid-black);
    color: var(--soft-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--large-spacing);
    text-align: center;

    justify-content: space-between;
}

footer .container  h3 {
    font-size: var(--semi-large-fs);
}



footer .container a {
    color: var(--soft-white);
    text-decoration: none;
    font-style: normal;
    padding: var(--medium-spacing) 0;
}

@media (min-width: 600px){
    footer .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
      
}
}

footer .container nav ul li {
        list-style: none;
        padding: var(--medium-spacing) 0;
}

footer .container nav ul li a {
 padding: var(--medium-spacing) 0;
}


footer .container nav ul li a:hover {
    color: var(--lavender);
}


footer .container address .hire-me {
    border: 1px solid var(--soft-white);
    padding: var(--small-spacing) var(--medium-spacing);
    transition: 1s all;
 
} 
footer .container address .hire-me:hover {
    background-color: var(--soft-white);
    color: var(--mid-black);
    font-weight: 700;
}

footer p {
    padding-bottom: var(--small-spacing);
    text-align: center;
    color: var(--lavender);    
}


@media (max-width: 599px ){
    footer .name {
        order: 1;
    
    }
    
    footer address {
        order: 2;
    }

    footer nav {
        order: 3;
    }



    footer p {
        margin-top: var(--medium-spacing);
        font-size: var(--small-fs);
        order: 4;
    }
}

