footer {
    margin-top: var(--extra-large-spacing);
    padding: var(--large-spacing) 0;
    background-color: var(--mid-black);
    color: var(--soft-white);
    display: flex;
    flex-direction: column;
    gap: var(--medium-spacing);
    align-items: center;
    text-align: center;
}

footer h3 {
    font-size: var(--large-fs);
}



footer a {
    color: var(--soft-white);
    text-decoration: none;
    font-style: normal;
}

@media (min-width: 600px){
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

footer nav ul li {
        list-style: none;
        padding: var(--small-spacing) 0;
}


footer address .hire-me {
    border: 1px solid var(--soft-white);
    padding: var(--small-spacing) var(--medium-spacing);
    transition: 1s all;
 
} 
footer address .hire-me:hover {
    background-color: var(--soft-white);
    color: var(--mid-black);
    font-weight: 700;
}

footer p {
    color: var(--lavender);    
}

@media (max-width: 599px ){
    footer address {
        order: 2;
    }

    footer nav {
        order: 3;
    }


    footer .name {
        order: 1;

    }

    footer p {
        font-size: var(--mobile-fs);
        order: 4;
    }
}

