/*==================STYLING FOR  HERO SECTION============================*/
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: var(--medium-spacing);
  background-color: var(--soft-white);
  border: 1px solid gray;
  margin: var(--large-spacing) var(--medium-spacing);
}

.hero-section h1 {
  text-align: center;
  padding: var(--medium-spacing) 0;
}


@media (min-width: 600px) {
  .hero-section {
    margin: var(--extra-large-spacing) var(--large-spacing);
  }
  h1 {
    font-size: var(--large-fs);
  }
}

.hero-section .hero-section-description {
 display: flex;
 justify-content: space-between;
 gap: var(--medium-spacing);
}


.hero-section .hero-section-description p {
  font-size: var(--medium-fs);
  width: 33.33%;
}

@media (max-width: 900px) {
  .hero-section .hero-section-description p {
    font-size: var(--default-fs);
  }
  
}


.hero-section .hero-section-description p a {
  
  color: var(--hover-color);
  font-weight: 700;
  text-decoration: underline;
  animation: 1s all;

}



@media (max-width: 600px) {
  .hero-section .hero-section-description {
    display: flex;
    flex-direction: column;
  }

  .hero-section .hero-section-description p {
    width: 100%;
  }
}



/*==================Technologies styles============================*/

.hero-section .technologies {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.hero-section .technologies h2 {
  font-size: var(--semi-large-fs);
  margin: var(--medium-spacing) 0;
}

.hero-section .technologies ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--medium-spacing);
}
@media (min-width: 600px) {
  .hero-section .technologies ul {
    width: 40%;
  }
}

.hero-section .technologies ul li {
  font-size: var(--mobile-fs);
  font-weight: 700;
  border: 1px solid var(--mid-black);
  padding: var(--small-spacing) var(--medium-spacing);
}

/*==================CTA button styles ============================*/

.hero-section .work-cv-links {
  display: flex;
  flex-direction: column;
  gap: var(--medium-spacing);
  margin: var(--large-spacing) 0;
}

@media (min-width: 600px) {
  .hero-section .work-cv-links {
    flex-direction: row;
  }
}

.hero-section .work-cv-links a {
  font-weight: 700;
  text-align: center;
}

.hero-section .work-cv-links .work {
  color: var(--soft-white);
  background-color: var(--mid-black);
  border: 1px solid var(--mid-black);
  padding: var(--medium-spacing) var(--medium-spacing);
  margin-right: var(--medium-spacing);
}

.hero-section .work-cv-links .work:hover,
.work:focus-visible {
  background-color: var(--soft-white);
  color: var(--mid-black);
}

.hero-section .work-cv-links .download-cv {
  background-color: var(--soft-white);
  color: var(--mid-black);
  border: 1px solid var(--mid-black);
  padding: var(--medium-spacing) var(--medium-spacing);
  margin-right: var(--medium-spacing);
}

.hero-section .work-cv-links .download-cv:hover,
.download-cv:focus-visible {
  background-color: var(--hover-color);
  color: var(--soft-white);
}

@media (min-width: 600px) {
  .hero-section img {
    margin: 0;
  }
}

@media (min-width: 600px) {
  .hero-section figure {
    padding: var(--medium-spacing);
    display: flex;
    justify-content: flex-end;
  }
}

@keyframes floatUpDown {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}

.hero-section img {
  position: relative;
  display: block;
  margin: 0 auto;
  animation: floatUpDown 1s ease-in-out infinite;
}
