*,
img {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;             */

  /* -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; */
}

:root {
  /*==================FONT SIZE ============================*/

  --mobile-fs: 0.87rem; /*14px*/
  --desktop-fs: 1rem; /*16px*/
  --large-fs: 3.75rem; /*60px*/
  --semi-large-fs: 1.875rem; /*30px*/
  --above-medium-fs: 1.5rem; /*24px*/
  --medium-fs: 1.125rem; /*18px*/
  --default-fs: 1rem; /*16px*/
  --small-fs: 0.75rem; /*12px*/

  /*==================SPACING ============================*/

  --extra-large-spacing: 120px;
  --large-spacing: 50px;
  --medium-spacing: 20px;
  --small-spacing: 10px;

  /*==================COLORS============================*/

  --soft-lavender: #c6caf5;
  --lavender: #9fa6fa;
  --softer-white: #7e7e7e;
  --soft-white: #e2e2e2;
  --radial-gradient: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(159,166,250,1) 0%, rgba(226,226,226,1) 33%, rgba(226,226,226,1) 92%, rgba(226,226,226,1) 94%);
  --mid-black: #212121;
  --dark-lavender: #2c2c99;
}

/*==================GENERAL STYLES ============================*/

@font-face {
  font-family: 'nunito';
  src: url('/assets/fonts/Nunito-VariableFont_wght.ttf');
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

html.sr .load-hidden {
  visibility: hidden;
}

html.sr .widget {
  visibility: hidden;
}

body {
  width: 100%;
  background-color: var(--soft-lavender);
  font-family: 'nunito';
}

a {
  text-decoration: none;
}

h1 {
  color: var(--dark-lavender)
}



h2 {
  font-size: var(--semi-large);
}

@media(min-width: 600px){

  h2 {
    font-size: var(--semi-large-fs);
  }
  }


a:focus-visible {
  outline: 2px solid rgb(82, 82, 214);
}


.radial-gradient {
  background: var(--radial-gradient);
}

/*==================STYLING FOR NAVIGATION============================*/
/*================== HEADER STYLES ============================*/


header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 1px solid gray;
  z-index: 99;
}

header .nav-container {
  background-color: var(--soft-white);
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: var(--medium-spacing);
}

@media (min-width: 600px) {
  header .nav-container {
    padding: var(--medium-spacing) var(--large-spacing);
  }
}

header .nav-container .logo {
  text-decoration: none;
  color: var(--mid-black);
  font-weight: 800;
}

nav {
  display: flex;
}

nav .nav-toggle {
  border: none;
  background-color: transparent;
  width: 60px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media (min-width: 600px) {
  nav .nav-toggle {
    display: none;
  }
}

nav .nav-toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 60%;
  background: var(--mid-black);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

nav .nav-toggle span:nth-child(1) {
  top: 0px;
}

nav .nav-toggle span:nth-child(2) {
  top: 10px;
}

nav .nav-toggle span:nth-child(3) {
  top: 20px;
}

nav .nav-toggle.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

nav .nav-toggle.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

nav .nav-toggle.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

nav #desktop-menu-list {
  display: none;
}

@media (min-width: 600px) {
  nav #desktop-menu-list {
    display: flex;
    align-items: center;
    padding: 0 var(--small-spacing);
  }
}

nav #desktop-menu-list li {
  text-transform: uppercase;
  padding: var(--small-spacing);
  margin: 0 var(--small-spacing);
  list-style: none;
  float: left;
}

nav #desktop-menu-list li a {
  text-decoration: none;
  font-size: var(--desktop-fs);
  color: var(--mid-black);
  text-transform: capitalize;
  display: inline-block;
}

nav #desktop-menu-list li a:hover {
  color: var(--dark-lavender);
}

nav #desktop-menu-list .hire-me-desktop a {
  background-color: var(--soft-lavender);
  border: 1px solid black;
  padding: var(--small-spacing) var(--medium-spacing);
  display: inline-block;
  transition: background-color 0.3s;

  font-weight: 900;
}

nav #desktop-menu-list .hire-me-desktop a:hover {
  background-color: var(--dark-lavender);
  color: white;
  font-weight: 900;
}

/*=======STYLING FOR MOBILE NAV ================*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

nav .mobile-menu-list {
  position: sticky;
  display: none;
  padding: var(--medium-spacing);
  background-color: rgb(202, 202, 202);
  transition: background-color 0.55s ease;
  animation: ease-in-out;
  animation-duration: 5s;
  width: 100%;
}
nav .mobile-menu-list.toggle-visibility {
  background-color: var(--soft-white);
  display: block;
  animation: fadeIn 1s ease;
}

nav .mobile-menu-list li {
  text-transform: capitalize;
  margin: var(--medium-spacing) 0;
  opacity: 0;
  animation: fade-in-left 0.2s ease-in-out forwards;
}

nav .mobile-menu-list li:not(:last-child) {
  border-bottom: 1px solid gray;
}

nav .mobile-menu-list li:nth-child(1) {
  animation-delay: 0.25s;
}
nav .mobile-menu-list li:nth-child(2) {
  animation-delay: 0.35s;
}
nav .mobile-menu-list li:nth-child(3) {
  animation-delay: 0.45s;
}

nav .mobile-menu-list li a {
  font-weight: 800;
  text-decoration: none;
  color: var(--mid-black);
}

nav .mobile-menu-list li a:hover {
  color: var(--dark-lavender);
}

nav .mobile-menu-list .hire-me-mobile a {
  background-color: var(--soft-lavender);
  border: 1px solid black;
  padding: var(--small-spacing) var(--medium-spacing);
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 15px;
}

nav .mobile-menu-list .hire-me-mobile a:hover {
  background-color: var(--dark-lavender);
  color: white;
}


/*==================STYLING FOR HERO SECTION============================*/
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: var(--medium-spacing);
  background: var(--radial-gradient);
  border: 1px solid var(--softer-white);
  margin: var(--large-spacing) var(--medium-spacing);
}

.hero-section h1 {
  text-align: center;
  padding: var(--medium-spacing) 0;
}

@media (min-width: 600px) {
  .hero-section {
    margin: var(--extra-large-spacing) var(--large-spacing);
  }
  h1 {
    font-size: var(--large-fs);
  }
}

.hero-section .hero-section-description {
  display: flex;
  justify-content: space-between;
  gap: var(--medium-spacing);
}

.hero-section .hero-section-description p {
  font-size: var(--medium-fs);
  width: 33.33%;
}

@media (max-width: 900px) {
  .hero-section .hero-section-description p {
    font-size: var(--default-fs);
  }
}

.hero-section .hero-section-description p a {
  color: var(--dark-lavender);
  font-weight: 700;
  text-decoration: underline;
  animation: 1s all;
}

@media (max-width: 600px) {
  .hero-section .hero-section-description {
    display: flex;
    flex-direction: column;
  }

  .hero-section .hero-section-description p {
    width: 100%;
  }
}

/*==================Technologies styles============================*/

.hero-section .technologies {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section .technologies h2 {
  font-size: var(--semi-large-fs);
  margin: var(--medium-spacing) 0;
}

.hero-section .technologies ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--medium-spacing);
}
@media (min-width: 600px) {
  .hero-section .technologies ul {
    width: 40%;
  }
}

.hero-section .technologies ul li {
  font-size: var(--mobile-fs);
  font-weight: 700;
  border: 1px solid var(--mid-black);
  padding: var(--small-spacing) var(--medium-spacing);
}

/*==================CTA button styles ============================*/

.hero-section .work-cv-links {
  display: flex;
  flex-direction: column;
  gap: var(--medium-spacing);
  margin: var(--large-spacing) 0;
}

@media (min-width: 600px) {
  .hero-section .work-cv-links {
    flex-direction: row;
  }
}

.hero-section .work-cv-links a {
  font-weight: 700;
  text-align: center;
}

.hero-section .work-cv-links .work {
  color: var(--soft-white);
  background-color: var(--mid-black);
  border: 1px solid var(--mid-black);
  padding: var(--medium-spacing) var(--medium-spacing);
  margin-right: var(--medium-spacing);
}

.hero-section .work-cv-links .work:hover,
.work:focus-visible {
  background-color: var(--soft-white);
  color: var(--mid-black);
}

.hero-section .work-cv-links .download-cv {
  background-color: var(--soft-white);
  color: var(--mid-black);
  border: 1px solid var(--mid-black);
  padding: var(--medium-spacing) var(--medium-spacing);
  margin-right: var(--medium-spacing);
}

.hero-section .work-cv-links .download-cv:hover,
.download-cv:focus-visible {
  background-color: var(--dark-lavender);
  color: var(--soft-white);
}

@media (min-width: 600px) {
  .hero-section img {
    margin: 0;
  }
}

@media (min-width: 600px) {
  .hero-section figure {
    padding: var(--medium-spacing);
    display: flex;
    justify-content: flex-end;
  }
}

/* floating down arrow animation */
@keyframes floatUpDown {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}

.hero-section img {
  position: relative;
  display: block;
  margin: 0 auto;
  animation: floatUpDown 1s ease-in-out infinite;
}

.services {
  color: var(--soft-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-lavender);
  margin: var(--large-spacing);
  padding: var(--large-spacing);
}

@media (max-width: 500px) {
  .services {
    margin: var(--large-spacing) var(--medium-spacing);
    padding: var(--large-spacing) var(--small-spacing);
  }
}

.services .grid-cards {
  display: flex;
  margin: var(--large-spacing) 0;
  gap: 1rem;
}

@media (max-width: 600px) {
  .services .grid-cards {
    flex-direction: column;
  }
}

.grid-cards article {
  display: grid;
  place-items: center;
  border: 1px solid var(--softer-white);
  padding: var(--large-spacing);
}

.grid-cards img {
  fill: white;
}

@media (max-width: 600px) {
  .grid-cards article {
    padding: var(--small-spacing);
  }
}

.services h3 {
  text-align: center;
  margin: var(--medium-spacing) 0;
}




/*==========STYLING FOR PORTFOLIO SECTION ============*/

.portfolio-section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--large-spacing) 0;
  background-color: var(--mid-black);
  border: 1px solid var(--soft-white);
}

@media (min-width: 600px) {
  .portfolio-section {
    margin: var(--extra-large-spacing) var(--large-spacing);
  }

  .portfolio-section h2 {
   
    margin: var(--large-spacing) 0;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .portfolio-section {
    margin: 0 var(--medium-spacing);
  }
  .portfolio-section h2 {
    font-size: var(--medium-fs);
  }
}

/*---------- portfolio case study styles---------- */

.portfolio-section .case-study {
  margin: var(--large-spacing) var(--large-spacing);
  padding: var(--large-spacing) 0;
  border: 1px solid var(--soft-lavender);
}

@media (max-width: 500px) {
  .portfolio-section .case-study {
    padding: 0;
  }
}

.portfolio-section img {
  width: 300px;
  height: 300px;
}

.portfolio-section .case-study {
  border: 1px solid var(--softer-white);
}

.portfolio-section .case-study,
.case-study__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--medium-spacing);
}

.portfolio-section .case-study .case-study__card {
  width: 80%;
}

@media (min-width: 600px) {
  .portfolio-section .case-study {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .portfolio-section .case-study .case-study__card {
    width: 40%;
  }
}

.portfolio-section .case-study .case-study__card a {
  text-decoration: underline;
  color: white;
}

.portfolio-section .case-study .case-study__card p {
  text-align: center;
}



/*======FOOTER STYLES ========*/

footer {
  margin-top: var(--extra-large-spacing);
  background-color: var(--mid-black);
  color: var(--soft-white);
  display: flex;

  flex-direction: column;
}

footer .container {
  padding: var(--large-spacing) 0;
  background-color: var(--mid-black);
  color: var(--soft-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--large-spacing);
  text-align: center;

  justify-content: space-between;
}

footer .container h3 {
  font-size: var(--semi-large-fs);
}

footer .container a {
  color: var(--soft-white);
  text-decoration: none;
  font-style: normal;
  padding: var(--medium-spacing) 0;
}

@media (min-width: 600px) {
  footer .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

footer .container nav ul li {
  list-style: none;
  padding: var(--medium-spacing) 0;
}

footer .container nav ul li a {
  padding: var(--medium-spacing) 0;
}

footer .container nav ul li a:hover {
  color: var(--lavender);
}

footer .container address .hire-me {
  border: 1px solid var(--soft-white);
  padding: var(--small-spacing) var(--medium-spacing);
  transition: 1s all;
}
footer .container address .hire-me:hover {
  background-color: var(--soft-white);
  color: var(--mid-black);
  font-weight: 700;
}

footer p {
  padding-bottom: var(--small-spacing);
  text-align: center;
  color: var(--lavender);
}

footer .attributions {
  color: var(--soft-white);
  text-align: center;
}
footer .attributions a {
  
  color: var(--soft-white);
}

@media (max-width: 599px) {
  footer .name {
    order: 3;
  }

  footer address {
    order: 2;
  }

  footer nav {
    order: 1;
  }

  footer p {
    margin-top: var(--medium-spacing);
    font-size: var(--small-fs);
    order: 4;
  }
}
