.services {
  color: var(--soft-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-lavender);
  margin: var(--large-spacing);
  padding: var(--large-spacing);
}

@media (max-width: 500px) {
  .services {
    margin: var(--large-spacing) var(--medium-spacing);
    padding: var(--large-spacing) var(--small-spacing);
  }
}

.services .grid-cards {
  display: flex;
  margin: var(--large-spacing) 0;
  gap: 1rem;
}

@media (max-width: 600px) {
  .services .grid-cards {
    flex-direction: column;
  }
}

.grid-cards article {
  display: grid;
  place-items: center;
  border: 1px solid var(--softer-white);
  padding: var(--large-spacing);
}

.grid-cards img {
  fill: white;
}

@media (max-width: 600px) {
  .grid-cards article {
    padding: var(--small-spacing);
  }
}

.services h3 {
  text-align: center;
  margin: var(--medium-spacing) 0;
}
