.project_section {
  /* background-color: var(--soft-white); */
  margin: var(--large-spacing);

  padding: var(--large-spacing);
  display: grid;
  place-items: center;
}
@media (max-width: 414px) {
  .project_section {
    margin: var(--large-spacing) var(--medium-spacing);
    padding: var(--small-spacing);
  }
}

.project_section h1 {
  margin: var(--large-spacing) 0;
}

@media only screen and (min-width: 414px) and (max-width: 900px) {
  .project_section h1 {
    font-size: var(--above-medium-fs);
    margin: var(--medium-spacing) var(--small-spacing);
  }
}

.project_section .text_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.9rem;
  grid-row-gap: 0px;

  margin: var(--large-spacing) 0;
}

.project_section .text_grid .stretched_grid {
  width: 80%;
  grid-area: 2 / 1 / 3 / 3;
}
@media (max-width: 414px) {
  .project_section .text_grid {
    display: flex;
    flex-direction: column;
    gap: var(--large-spacing);
  }
}

@media (max-width: 1050px) {
  .project_section .text_grid .stretched_grid {
    width: 100%;
  }
}

.project_section p {
  margin: var(--small-spacing) 0;
}
.project_section ul li {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  font-weight: 600;
}

.project_section h2 {
  text-align: left;
}
